div.ingredient-block{
    background-color: rgba(0, 0, 0, .2);
    padding: 1em;
    display: flex;
    flex-direction: row;



}

a.ingredient-name {
    font-size: 20pt;
    padding: 5px;
    line-height: 2em;


}

div.ingredient-list{

    background-color: rgba(0, 0, 0, .4);
    flex-grow: 2;

}


div.ingredient-info{
    display: none;


}

div#ingredients-info{
    display: none;
    margin: 5px;
    padding: .5em;
    background-color: rgba(0, 0, 0, .4);
    flex-grow: 3;


}

.soupcolor1{
    background-color: #000000;
    width: 80px;
    height: 20px;

}

.soupcolor{
    display: none;

}


