a{
	color: lightgray;

}


a.redirect{
	display: inline-block;
	color: lightgray;
	background-color: rgba(100,100,100,.15);
	font-weight: 500;
	font-size: 2em;
	text-decoration: none;
  	padding: .5em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 3px;
	transition: 0.2s;
	margin-bottom: 0.3em;

}
a.redirect:hover { background: rgba(100,100,100,.2); }
a.redirect:active { background: darkgrey; }

a.redirect_back{
	display: inline-block;
	color: lightgray;
	background-color: rgba(100,100,100,.15);
	font-weight: 500;
	text-decoration: none;
  	padding: .3em 2em;
	outline: none;
	border: 2px solid;
	border-radius: 3px;
	transition: 0.2s;
	margin-bottom: 0.3em;

}
a.redirect_back:hover { background: rgba(100,100,100,.2); }
a.redirect_back:active { background: darkgrey; }

body{
	background: url("bg2.jpg") no-repeat;
	color: lightgray;

}

@media not screen {
	body {background-size:cover!important;}

}
