div.ingredient-block{
    background-color: rgba(0, 0, 0, .2);
    position: relative;
    left: 0%;
    padding: 1em;


}

a.ingredient-name {
    font-size: 20pt;
    padding: 5px;
    line-height: 2em;


}

div.ingredient-list{
    position: relative;
    width: 50%;
    background-color: rgba(0, 0, 0, .8);


}


div.ingredient-info{
    display: none;
    position: relative;



}

div#ingredients-info{
    display: none;
    margin: 5px;
    padding: .5em;
    position: absolute;
    left: 50%;
    top: 3%;
    width: 47%;
    background-color: rgba(0, 0, 0, .8);

}

.soupcolor1{
    background-color: #000000;
    width: 80px;
    height: 20px;

}

.soupcolor{
    display: none;

}

