div.main-inner{

	width: 98%;
    padding: 1%;
    text-align: center;
    position: relative;
    top: 20%;

}

div.main-outer{
    padding: 5px;
	background-color: rgba(0, 0, 0, 0.4);
	width: 98%;
	height: 99%;
	display: block;

}

@media handheld {
    a.redirect{
        width: 90%;


    }

}
