#soupcolor1{
    width: 10%;
    height: 5%;
    position: relative;
    margin:10px auto;

}

#soupcolor{
    display: none;

}

div.main{
    text-align: center;
    background-color: rgba(0, 0, 0, .2);
    padding: 10px;

}