{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cooking/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cooking/style_detail.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Ингредиент {{ingredient.ingredient_name}}</title>
        <script>
            window.onload = function() {
                var soupcolor = document.getElementById("soupcolor").innerText;
                document.getElementById("soupcolor1").style.backgroundColor = soupcolor;
            };

        </script>
    </head>

    <body>
        <a id="soupcolor">{{ingredient.ingredient_color}}</a>
        <h4>{{ ingredient.ingredient_name }}</h4>
        <a>Описание: {{ingredient.ingredient_description}}</a><br>
        <a>Эффект: {{ingredient.ingredient_effect}}</a><br>
        <a>Цвет:</a><br>
        <div id="soupcolor1"></div><br>
        <a>Масса: {{ingredient.ingredient_weight}}</a><br>
        <a href="{% url 'cooking:ingredient' %}">Вернуться обратно</a>



    </body>
</html>