{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cooking/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cooking/style_index.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Рецепты супов</title>
    </head>

    <body>
        <a href="{% url 'cooking:ingredient' %}">Список ингредиентов</a><br>
        <a href="{% url 'cooking:makesoup' %}">Приготовить супъ</a><br>
        <a href="{% url 'cooking:settings' %}">Настройки</a><br>
        {% if cookie %}
            <a href="{% url 'cooking:statistic' %}">Просмотреть сохранённый суп</a><br>
        {% endif %}

    </body>
</html>