{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cooking/style.css' %}">


<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Значения супа</title>
    </head>

    <body>

        <a>Цвет супа: {{soupColor1}}, {{soupColor2}}</a><br>
        <a>Эффект супа: {{soupEffect}}</a><br>
        <a>Длительность эффектов супа: {{effectDuration}}</a><br>
        <a>Редкость супа: {{rarely}}</a><br>
        <a>Масса супа: {{soupWeight}}</a>

        <a href="/cooking">Вернуться в начало</a>
    </body>
</html>