{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cooking/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cooking/style_soupinfo.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Значения супа</title>
        <script>
            window.onload = function() {
                var soupcolor = document.getElementById("soupcolor").innerText;
                document.getElementById("soupcolor1").style.backgroundColor = soupcolor;
            };

        </script>
        <style>
            #lol{
                display: none;

            }

        </style>
    </head>

    <body>
        <header>

            <div id="logo">
                <a href="{% url 'cooking:index' %}">SoupCookers</a>
            </div>


            <div id="account-name" class="account-info">
                {% if username %}
                <a href="{% url 'cooking:login' %}">{{username}}</a>
                {% else %}
                <a href="{% url 'cooking:login' %}">Войти в аккаунт</a>
                {% endif %}
            </div>
            <div id="account-img" class="account-info">
                <div id="img"></div>
            </div>

        </header>

    {% if error_message %}
        <p>{{ error_message }}</p>
        <a href="{% url 'cooking:makesoup' %}" class="redirect_back" >Вернуться к созданию супа</a>

    {% else %}
        <div class="main">
            <a id="soupcolor">{{SoupColor}}</a>

            <a>Ваш супь: </a>
            <div id="soupcolor1"></div><br>

            <a>Эффект супа: {{SoupEffect}}</a><br>
            <a>Длительность эффектов супа: {{SoupDuration}} секунд</a><br>
            <a>Редкость супа: {{SoupRarely}}</a><br>
            <a>Масса супа: {{SoupWeight}}</a><br>
            <a>Крутизна супа: {{SoupSteep}}</a><br>

            {% if statisticSave %}
                <form action="{% url 'cooking:addstatistic' %}" method="post">
                {% csrf_token %}
                    <input name="statistic" id="lol" value="'{{SoupEffect}}', '{{SoupDuration}}', '{{SoupRarely}}', '{{SoupWeight}}', '{{SoupColor}}', '{{SoupSteep}}'"><br>
                    {% if lol %}
                        <input name='complex' style="display: none;" value="qqq">
                    {% endif %}
                    <input type="submit" id="input-submit" name="soup" value="Сохранить результат">
                </form>


            {% endif %}
            <a href="{% url 'cooking:index' %}" class="redirect_back" >Вернуться в начало</a>
        </div>
    {% endif %}
    </body>



</html>