{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'cooking/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cooking/stylestatistic.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Значения супа</title>
        <script>
            window.onload = function() {
                var soupcolor = document.getElementById("soupcolor").innerText;
                document.getElementById("color").style.backgroundColor = soupcolor;

                var soupcolor = document.getElementById("soupcolor1").innerText;
                document.getElementById("color1").style.backgroundColor = soupcolor;
            };

        </script>

    </head>

    <body>
        <header>

            <div id="logo">
                <a href="{% url 'cooking:index' %}">SoupCookers</a>
            </div>


            <div id="account-name" class="account-info">
                {% if username %}
                <a href="{% url 'cooking:login' %}">{{username}}</a>
                {% else %}
                <a href="{% url 'cooking:login' %}">Войти в аккаунт</a>
                {% endif %}
            </div>
            <div id="account-img" class="account-info">
                <div id="img"></div>
            </div>

        </header>

    {% if error_message %}
        <p>{{ error_message }}</p>
        <a href="{% url 'cooking:index' %}">Вернуться в начало</a>

    {% else %}
        <div class="main">
            <div id="soup1">
                <a class="soupcolor" id="soupcolor">{{soupColor}}</a>

                <a>Цвет супа: </a>
                <div class="color" id="color"></div><br>

                <a>Эффект супа: {{soupEffect}}</a><br>
                <a>Длительность эффектов супа: {{effectDuration}} секунд</a><br>
                <a>Редкость супа: {{rarely}}</a><br>
                <a>Масса супа: {{soupWeight}}</a><br>
                <a>Крутизна супа: {{soupSteep}}</a><br><br>
            </div>

            <div id="auth-delete-soup" class="content">
                <a href="{% url 'cooking:deletesoup' %}">Удалить сохранение</a>
            </div>

        {% if soupColor1 %}
            <div id="soup2">
               <a class="soupcolor" id="soupcolor1">{{soupColor1}}</a>

                <a>Цвет супа: </a>
                <div class="color" id="color1"></div><br>

                <a>Эффект супа: {{soupEffect1}}</a><br>
                <a>Длительность эффектов супа: {{effectDuration1}} секунд</a><br>
                <a>Редкость супа: {{rarely1}}</a><br>
                <a>Масса супа: {{soupWeight1}}</a><br>
                <a>Крутизна супа: {{soupSteep1}}</a><br><br>
            </div>

            <div id="auth-delete-soup1" class="content">
                <a href="{% url 'cooking:deletesoup1' %}">Удалить сохранение</a>
            </div>

            <div>
                <a href="{% url 'cooking:complexsoup' %}" class="redirect">lol</a>
            </div>
        {% endif %}

            <a href="{% url 'cooking:index' %}" class="redirect_back" >Вернуться в начало</a>
        </div>

    {% endif %}
    </body>



</html>